.product-rating-container {
  display: flex;
  justify-content: space-between;
}

.product-detail-name-container {
  margin-top: 64px;
}

.page-product-detail-total {
  margin: 24px 0;

  h3 {
    margin: 0;
  }
}

.product-rating-items {
  display: flex;
  align-items: center;

  span {
    font-size: 1rem;
    margin-right: 5px;

    &.product-rating-title {
      color: #8c8c8c;
    }
  }

  .point {
    margin: 0 12px;
  }

  img {
    max-width: 1.75rem;
  }
}

.product-detail-tabs {
  background: #DBD9D2;
  border-radius: 12px;

  .nav-tabs {
    background-color: transparent;
  }
}

.product-price-info {
  margin-bottom: 48px;
}

.product-action .btn {
  width: 100%;
  padding: 1rem 0;
  line-height: 100%;
  border-radius: 12px;
  
  &:hover {
    color: #fff;
  }
}