{% block sw_cms_preview_article_column %}
    <div class="sw-cms-preview-article-column">
        <div>
            <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
            <h2>Lorem ipsum dolor</h2>
        </div>
    </div>
{% endblock %}