<div class="custom-control custom-radio form-group col-sm-3">
	<input class="custom-control-input custom-radio-input" type="radio" name="salutationId" id="radio-{{fieldName}}" value={{fieldName}} {% if fieldName == value or loop.index == "1" %} checked {% endif %}>
	<label class="custom-control-label custom-radio-label" for="radio-{{fieldName}}">{{label}}</label>
</div>
