{% block layout_footer_inner_container %}
	<div class="col-12 footer-payments"></div>
	<div class="col-12 footer">
		<div class="container footer-container">
			<div class="row">
				<div class="col-md-4 footer-item">
					<h4 data-toggle="collapse" href="#collapseOrder" role="button" aria-expanded="true" aria-controls="collapseOrder">Order & delivery</h4>
					<ul id="collapseOrder" class="collapse d-sm-block d-md-none">
						<li>
							<a href="#">Free delivery</a>
						</li>
						<li>
							<a href="#">Secure payment</a>
						</li>
						<li>
							<a href="#">Paypal, Visa, Mastercard, SOFORT, direct transfer</a>
						</li>
						<li>
							<a href="#">14-day return guarantee</a>
						</li>
					</ul>
					<ul class="collapse d-sm-none d-md-block">
						<li>
							<a href="#">Free delivery</a>
						</li>
						<li>
							<a href="#">Secure payment</a>
						</li>
						<li>
							<a href="#">Paypal, Visa, Mastercard, SOFORT, direct transfer</a>
						</li>
						<li>
							<a href="#">14-day return guarantee</a>
						</li>
					</ul>
				</div>
				<div class="col-md-3 footer-item">
					<h4 data-toggle="collapse" href="#collapseShop" role="button" aria-expanded="false" aria-controls="collapseShop">ONLINE SHOP</h4>
					<ul id="collapseShop" class="collapse d-sm-block d-md-none">
						<li>
							<a href="#">My account</a>
						</li>
						<li>
							<a href="#">Foget password</a>
						</li>
						<li>
							<a href="#">Conditions</a>
						</li>
						<li>
							<a href="#">Shipping & returns</a>
						</li>
						<li>
							<a href="#">Payment</a>
						</li>
						<li>
							<a href="#">Imprint</a>
						</li>
						<li>
							<a href="#">Data protection</a>
						</li>
					</ul>
					<ul class="collapse d-sm-none d-md-block">
						<li>
							<a href="#">My account</a>
						</li>
						<li>
							<a href="#">Foget password</a>
						</li>
						<li>
							<a href="#">Conditions</a>
						</li>
						<li>
							<a href="#">Shipping & returns</a>
						</li>
						<li>
							<a href="#">Payment</a>
						</li>
						<li>
							<a href="#">Imprint</a>
						</li>
						<li>
							<a href="#">Data protection</a>
						</li>
					</ul>
				</div>
				<div class="col-md-2 footer-item">
					<h4 data-toggle="collapse" href="#collapsePartner" role="button" aria-expanded="false" aria-controls="collapsePartner">PARTNER</h4>
					<ul id="collapsePartner" class="collapse d-sm-block d-md-none">
						<li>
							<a href="#">Become a partner</a>
						</li>
						<li>
							<a href="#">Partner login</a>
						</li>
					</ul>
					<ul class="collapse d-sm-none d-md-block">
						<li>
							<a href="#">Become a partner</a>
						</li>
						<li>
							<a href="#">Partner login</a>
						</li>
					</ul>
				</div>
				<div class="col-md-3 footer-item footer-copyright">
					<h4>Cellvital</h4>
					<p>cellvital - the secret of “eteral youth” / no new diet, no hours of physical exertion or invasive and unsafe procedures.</p>
					<p>you are as young as your cells.</p>
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
