{% sw_extends "@Storefront/storefront/component/product/card/box-standard.html.twig" %}

{% block component_product_box_info %}
    <div class="product-info">
        {% block component_product_box_name %}
            <a href="{{ seoUrl('frontend.detail.page', {'productId': id}) }}" title="{{ name }}"  class="product-image-link">
                <h3>{{ name }}</h3>
            </a>
        {% endblock %}
        {% block component_product_box_description %}
            <div class="product-description">/
                {{ product.translated.description|striptags|raw }}
            </div>
        {% endblock %}
        {% block component_product_box_price %}
            {% sw_include '@Storefront/storefront/component/product/card/price-unit.html.twig' %}
        {% endblock %}

        {% block component_product_box_action %}
            {% sw_include '@Storefront/storefront/component/product/card/action.html.twig' %}
        {% endblock %}
    </div>
{% endblock %}