.cvp-benefits-list {
  margin-top: 48px;
  margin-bottom: 48px;
}

.cvp-benefits-list-item {
  .benefits-icon {
    width: 64px;
    height: 64px;
    background: #faefe5;
    border-radius: 8px;
    margin-bottom: 24px;
    padding: 10px;
  }

  p {
    color: #8c8c8c;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    & > b {
      color: #181818;
      font-weight: 500;
      font-size: 20px;
      line-height: 32px;
    }
  }
}

.benefits-second {
  h2 {
    color: #181818;
    margin-bottom: 3rem;
  }
}

.benefits-second-content {
  padding-right: 2rem;
  margin-bottom: 1.5rem;

  p {
    margin: 0;
    font-size: 1rem;
    color: #181818;

    & > strong {
      font-weight: 500;
    }
  }
}

@media (max-width: 600px) {
  .cvp-benefits-list-item {
    padding-left: 1.5rem;
    margin: 0 0 1.5rem 1.5rem;
    border-left: 2px dashed rgba(219, 217, 210, 0.6);

    & > p:last-child {
      margin-bottom: 0;
    }
  }

  .cvp-benefits-list {
    margin: 0;
  }
}
