$event-margin-left: 3.9375rem;
$event-margin-left-mobile: 1.5rem;

.block-event-items {
  border-left: 1px solid #faefe5;
  padding-bottom: 120px;
}

.block-event-item {
  margin-left: $event-margin-left;
  background-color: #faefe5;
  border-radius: 0.75rem;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  &::after {
    content: "";
    position: absolute;
    left: -$event-margin-left;
    top: 1.75rem;
    width: $event-margin-left;
    height: 1px;
    background-color: #faefe5;
  }

  &::before {
    content: "";
    position: absolute;
    left: -5px;
    top: 1.45rem;
    width: 0.75rem;
    height: 0.75rem;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #faefe5;
  }

  .block-event-day {
    margin-bottom: 0;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid rgba(120, 105, 94, 0.1);
  }

  .block-event-content {
    padding: 1.75rem 1rem 1.5rem;

    h4 {
      color: #181818;
    }

    & > p {
      color: #8c8c8c;
    }
  }
}

@media (max-width: 600px) {
  .block-event-item {
    margin-left: $event-margin-left-mobile;

    &::after {
      left: -$event-margin-left-mobile;
      width: $event-margin-left-mobile;
    }
  }
}
