.partner-form > form {
  max-width: 496px;
}

.form-content {
  background-color: rgba(219, 217, 210, 0.24);
  padding: 2.5rem;
  border-radius: 0.75rem;

  h3 {
    color: #181818;
    margin-bottom: 1.5rem;
  }
}

.form-label {
  position: absolute;
  left: 1.25rem;
  padding: 0 5px;
  background-color: #fff;
  top: -10px;
}

.js-validation-message {
  position: absolute;
  bottom: -20px;
  left: 25px;
  color: #8C8C8C;
}

.form-control, .custom-select {
  min-height: 3.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  border: 1px solid #DBD9D2;
  border-radius: 12px !important;
}

.form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-submit-btn {
  background-color: #f2a761;
  min-width: 248px;
  padding: 1rem;
  text-align: center;
  border-radius: 0.75rem;
  color: #fff;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  margin-top: 1.5rem;
}

.form-login {
  font-size: 1rem;
  line-height: 1.5rem;
  max-width: 110px;
  margin-top: 1.55rem;
  text-align: end;
  color: #f2a761;
}

@media (max-width: 600px) {
  .form-submit-btn {
    min-width: 100%;
    padding: 1rem;
  }

  .form-content {
    padding: 3rem 1rem 5rem;
  }

  .form-login {
    max-width: 100%;
    width: 100%;
    text-align: center;
  }
}

.form-group-discount-send {
  background-color: #fff;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;

  button {
    background-color: transparent;
    border: none;
  }
}

.custom-control-label {
  cursor: pointer;
}