{% sw_extends "@Storefront/storefront/component/review/rating.html.twig" %}

{% block component_review_rating %}
    <div class="d-flex align-items-center">
        <span class="cvp-rating-point">
            {{points}}
        </span>
        <img src={{asset('/bundles/cellvitalplatformtheme/assets/star.svg')}}>
    </div>
{% endblock %}
