{% block sw_cms_preview_text_image_tab %}
    <div class="sw-cms-preview-text-image-tab">
        <div>
            <h2>Lorem ipsum dolor</h2>
        </div>
        <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
        <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
    </div>
{% endblock %}