{% set config = { sorting: current } %}

<div class="cvp-sorting">
    <p class="cvp-sorting-title">Sorted by:</p>
    <ul class="cvp-sorting-list">
        <li class="active">popular</li>
        <li>new</li>
        <li>price <img src={{asset('/bundles/cellvitalplatformtheme/assets/sort.svg')}} alt="sort" /></li>
    </ul>
</div> 
