{% sw_extends '@Storefront/storefront/component/checkout/offcanvas-cart.html.twig' %}

{% block component_offcanvas_cart_header %}{% endblock %}

{% block component_offcanvas_summary %}{% endblock %}

{% block component_offcanvas_cart_actions_promotion_submit %}
    <div class="form-group-discount-send">
        <button class="btn"
                type="submit"
                id="addPromotionOffcanvasCart">
            <img src={{asset('/bundles/cellvitaltheme/assets/arrow-right.svg')}} alt="send">
        </button>
    </div>
{% endblock %}

{% block component_offcanvas_cart_actions %}
    <div class="offcanvas-cart-actions">
        {% block component_offcanvas_cart_actions_promotion %}
            {{parent()}}
        {% endblock %}


        {% block component_offcanvas_cart_actions_total %}
            {% if isCartNotEmpty %}
                {% sw_include '@Storefront/storefront/component/checkout/offcanvas-cart-summary.html.twig' %}
            {% endif %}
        {% endblock %}
    
        <div class="d-flex flex-row-reverse offcanvas-cart-actions-wrapper">
            {% block component_offcanvas_cart_actions_checkout %}
                {{parent()}}
            {% endblock %}

            {% block component_offcanvas_cart_actions_cart %}
                {{parent()}}
            {% endblock %}
        </div>
    </div>
{% endblock %}