{% block sw_cms_block_partner_form %}
    <div class="sw-cms-block-partner-form">
        <slot name="content"></slot>
        <slot name="title"></slot>
        <slot name="media"></slot>
        <slot name="description"></slot>
    </div>
{% endblock %}
