{% block sw_cms_block_image_text_background %}
    <div class="sw-cms-block-image-text-background">
        <slot name="left">{% block sw_cms_block_image_text_background_slot_left %}{% endblock %}</slot>
        <slot name="right">{% block sw_cms_block_image_text_background_slot_right %}{% endblock %}</slot>
    </div>
{% endblock %}