{% block sw_cms_block_ask %}
    <div class="col-12 block-ask-container">
        <div class="row">
            <div class="col-md-4 block-ask-aside">
                <div class="block-ask-aside-content">
                    <h2>Ask anything</h2>
                    <p class="block-ask-description">Research the frequently asked questions or write us your own</p>
                    <input type="button" class="leave-question not-mobile" value="Leave a question" />
                </div>
            </div>
            <div class="col-md-8 accordion block-ask-items" id="accordionAsk" aria-controls="collapseOne">
                <div class="block-ask-item" data-toggle="collapse" data-target="#collapseOne"  aria-expanded="true" aria-controls="collapseOne"> 
                    <div id="headingOne">
                        <h4 class="block-ask-item-title" >Question №1</h4>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionAsk">
                        <div class="block-ask-item-body">
                            Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor. Voluptate exercitation incididunt aliquip deserunt reprehenderit.<br/> <br/>
                            Voluptate exercitation incididunt aliquip deserunt reprehenderit. Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor. Voluptate exercitation incididunt aliquip deserunt reprehenderit. Nulla Lorem mollit cupidatat irure.
                        </div>
                    </div>
                </div>
                <div class="block-ask-item collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <div  id="headingTwo">
                        <h4 class="block-ask-item-title">Question №2</h4>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionAsk">
                        <div class="block-ask-item-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.<br/> <br/> 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                 <div class="block-ask-item collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                    <div  id="headingThree">
                        <h4 class="block-ask-item-title">Question №3</h4>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionAsk">
                        <div class="block-ask-item-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.<br/> <br/> 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                 <div class="block-ask-item collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                    <div  id="headingFour">
                        <h4 class="block-ask-item-title">Question №4</h4>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionAsk">
                        <div class="block-ask-item-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.<br/> <br/> 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                 <div class="block-ask-item collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                    <div  id="headingFive">
                        <h4 class="block-ask-item-title">Question №5</h4>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionAsk">
                        <div class="block-ask-item-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.<br/> <br/> 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>

           

                <div class="block-ask-other">
                    <a href="#">Other Questions</a>
                    <span>or</span>
                    <p>You can write us your own question</p>
                    <input type="button" class="leave-question" value="Leave a question" />
                </div>
            </div> 
        </div>
    </div>
{% endblock %}