.cart-item-details-container {
    padding-left: 4px;
}

.cart-quantity-price {
    min-height: auto;
}

.is-act-cartpage .checkout .checkout-main {
    flex: 1;
    max-width: 100%;
}

.card-title {
    font-size: 28px;
    line-height: 40px;
    border-bottom: none;
    font-weight: 500;
}

.cart-item-img {
    border-radius: 8px;
    padding: 0;
}

.cart-item-img-container {
    width: 112px;
    height: 112px;
}

.cart-item-label {
    font-size: 20px;
    line-height: 32px;
    color: #F2A761;
    font-weight: 500;
}

.cart-item-row {
    position: relative;
    display: flex;
    align-items: center;
}

.cart-item-remove {
    top: 0;
}

.checkout-cart-promotion {
    max-width: 288px;
    margin-bottom: 24px;
    .checkout-aside-add-code {
        margin: 0;
    }
}
.checkout-cart-total {
    align-self: center;
    padding: 0 2rem;

    & > span {
        color: #8C8C8C;
    }
}

.checkout-cart-info-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & > p {
        margin: 0;
        font-weight: 500;
    }

    &:first-child > p {
        margin-bottom: 1rem;
    }

    .checkout-aside-cart-total, .checkout-aside-cart-total-price {
        font-size: 20px;
    }

    .checkout-aside-cart-total-price {
        color: #78695E;
    }
}