{% sw_extends '@Storefront/storefront/page/checkout/address/index.html.twig' %}

{% block base_header %}
    <header class="header-main">
        {% block base_header_inner %}
            <div class="container">
                {% sw_include '@Storefront/storefront/layout/header/header.html.twig' %}
            </div>
        {% endblock %}
    </header>
{% endblock %}

{% block page_checkout_address %}
    {% block page_checkout_address_header %}
        <h1 class="address-main-header">
            {{ "checkout.addressHeader"|trans|sw_sanitize }}
        </h1>
    {% endblock %}
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-register-tab" data-toggle="tab" href="#nav-register" role="tab" aria-controls="nav-register" aria-selected="true">{{"account.registerTitle"|trans|sw_sanitize}}</a>
          <a class="nav-item nav-link" id="nav-login-tab" data-toggle="tab" href="#nav-login" role="tab" aria-controls="nav-login" aria-selected="false">Login</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        {% block page_checkout_address_register %}
            <div class="tab-pane fade show active" id="nav-register" role="tabpanel" aria-labelledby="nav-register-tab">
                {% block page_checkout_address_register_card %}
                    {% sw_include '@Storefront/storefront/page/checkout/address/register.html.twig' with {
                        'cardTitle': "checkout.addressRegisterCardTitle"|trans|sw_sanitize
                    } %}
                {% endblock %}
            </div>
        {% endblock %}
        <div class="tab-pane fade" id="nav-login" role="tabpanel" aria-labelledby="nav-login-tab">
            {% block page_checkout_address_login_card %}
                {% sw_include '@Storefront/storefront/component/account/login.html.twig' with {
                    'cardTitle': "account.loginSubmit"|trans|sw_sanitize
                } %}
            {% endblock %}
        </div>
      </div>
{% endblock %}

{% block base_footer %}
    {% sw_include '@Storefront/storefront/layout/footer/footer.html.twig' %}
{% endblock %}