{% block sw_cms_block_benefits_list_v2 %}
	<div class="sw-cms-block-benefits-list">
		<slot name="one">
			{% block sw_cms_block_benefits_list_slot_one %}{% endblock %}
		</slot>
		<slot name="two">
			{% block sw_cms_block_benefits_list_slot_two %}{% endblock %}
		</slot>
		<slot name="three">
			{% block sw_cms_block_benefits_list_slot_three %}{% endblock %}
		</slot>
		<slot name="four">
			{% block sw_cms_block_benefits_list_slot_four %}{% endblock %}
		</slot>
	</div>
{% endblock %}
