{% block sw_cms_block_review_slider_preview %}
    <div class="sw-cms-preview-review-slider">
        <sw-icon name="default-arrow-head-left" size="20"></sw-icon>
        <div class="sw-cms-preview-review-slider__review-box">
            <sw-cms-review-box-preview></sw-cms-review-box-preview>
            <sw-cms-review-box-preview></sw-cms-review-box-preview>
        </div>
        <sw-icon name="default-arrow-head-right" size="20"></sw-icon>
    </div>
{% endblock %}
