{% block sw_cms_block_text_image_tab %}
    <div class="sw-cms-block-text-image-tab">
        <slot name="first"></slot>
        <slot name="second"></slot>
        <slot name="third"></slot>
        <slot name="fourth"></slot>
        <slot name="fifth"></slot>
    </div>
{% endblock %}